body {
    margin: 0;
}

.nav__list {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.nav__item {
    float: left;
}

.nav__list .nav__link {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

.nav__list .nav__link:hover {
    background-color: #555;
}

.nav__list  .nav__icon {
    display: none;
}

@media screen and (max-width:680px) {
    .nav__item:not(:first-child) {
        display: none;
    }

    .nav__list  .nav__icon {
        float: right;
        display: inline-block;
    }
}

@media screen and (max-width:680px) {
    .nav__list.resonsive {
        position: relative;
    }

    .nav__list.responsive .nav__icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .nav__list.responsive .nav__item {
        float: none;
        display: inline;
    }

    .nav__list.responsive .nav__link {
        display: block;
        text-align: left;
    }


}